.contact{
    padding: 5rem 0 5rem 0;
    color: black;

    &__email{
        font-size: 1.5rem;
        padding-bottom: 5rem;
        letter-spacing: 4px;
        text-align: center;
    }

    &__right{
        font-size: 1rem;
        letter-spacing: 4px;
        text-align: center;
    }

}

